
  <head>
    <title>Student interactor</title>
    <link rel="shortcut icon" href="" type="fetch" effect="sepia"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8">
  </head>
  <body>

    <nav class="navbar navbar-default" ng-show="navbarVisible">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
          <ul class="nav navbar-nav">
            <li  class="active" id="LiHome"><a href="#" ng-click= "homeshow()">Home </a></li>
            <li  class="" id="LiHelp"><a href="#" ng-click= "helpshow()">Help</a></li>
            <li  class="" id="LiInfo"><a href="#" ng-click= "infoshow()">Info</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>{{> loginButtons}}</li> 
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>



  <h1>student interactor</h1>

    {{> MainPage}}

    {{#if currentUser}}
      {{>MainPageLes}}
      {{> OverzichtLessen}}
    {{/if}}

          
  </body>
