#viewLes{
	background-color: yellow;
}

#MainPageLes {
	background-color: beige;
}


#lessen{
	-webkit-font-smoothing: antialiased;
	border: solid #808080;
	border-radius: 15px 50px;
	border-width: 1px;
	box-shadow: 0px 0px 10px 1px #adadad;
	margin-top: 15px;
	margin-left: 15px; 
	transition:all 500ms ease;
}

#lessen:hover{
	cursor: pointer;
	border: solid #808080;
	border-radius: 15px 50px;
	border-width: 1px;
	box-shadow: 0px 0px 20px 15px #61b9ed;
	margin-top: 15px;
	margin-left: 15px; 
	transition:all 500ms ease;
}
.editIcon, .deleteIcon{
	border-radius: 15px 15px;
	float: right;
	cursor: pointer;
	width: 10%;
	height: 10%;
	transition:all 500ms ease;
}
.deleteIcon:hover {
	cursor: pointer;
	box-shadow: 0px 0px 15px 5px #c11c13;
	transition:all 500ms ease;
}
.editIcon:hover {
	cursor: pointer;
	box-shadow: 0px 0px 15px 5px #dbc206;
	transition:all 500ms ease;
}
.input{
	margin: 10% 2% 10% 2%;
}