
.jumpingAnswers h1{
  position: absolute;
  font-size: 32px;
  background-color: rgba(255,255,255,0.5);
}
.antwoordenBox{
	height: 500px; 
	width: 100%;
    position: relative;
}
.graphAnswers{
	float: left;
	text-align: center;
	margin-left: 15%;

}

#graph{
	border: solid black;
}

.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: green;
  /* The width of your bars */
  stroke-width: 50px;
  font-size: 200px;
}
.ct-label {
    font-size: 50px;
    color: black;
}