<template name='AntwoordenPage'>
<div id="PageContent">

<script type="text/javascript">
	//tijdelijkLesId = Session.get('tijdelijkIdSession');
	tijdelijkLesId = $.cookie('tijdelijkIdSession');
	console.log(tijdelijkLesId);
	Meteor.subscribe('DataVragen', tijdelijkLesId);	
</script>
{{#each AntwoordenLoop}}
	<h1>{{vraagnaam}}</h1>
    <p><button class="showAntwoordenPage" id={{_id}}>Show Antwoorden</button></p>
    <div class="divAntwoordenPageSluiten" id='div{{_id}}' style="display: none">
    <h3>Antwoorden:</h3>
	    {{#each AntwoordInVraag}}
	    	<p>{{naamLeerling}} : {{Antwoord}} </p>
	    {{/each}}
    </div>
  {{/each}}
  {{> SideNavBar}}  
  </div>	
</template>

