<template name="infoPage">
	<div id="PageContent">
	  	<h2>Meer informatie</h2>
	  	<p>De Student Interactor is een webapplicatie, waar u vragen kan stellen voor je leerlingen online. De vraag kan u tonen, op een apart scherm, met de antwoorden die de leerlingen invullen. U kan de antwoorden later opnieuw bekijken en ook welke student verantwoordelijk is voor het antwoord.</p>
	  	<br>
	  	<h2>Instructies</h2>
	  	<ol type="1">
	  		<li>Maak een les aan en geef deze een naam.</li>
	  		<li>Je kan nu op deze les klikken en hier vragen opstellen voor u leerlingen/groep. </li>
	  		<li>Klik op de knop: "Toon vraag op bord". Nu wordt er een nieuw venster geopend die u vraag weergeeft.</li>
	  		<li>Sleep dit venster zodanig, dat deze volledig zichtbaar is op het bord.</li>
	  		<li>Je leerlingen kunnen nu via onze site toegang krijgen door de correcte roomcode in te geven.</li>
	  		<li>Je leerlingen hun antwoord worden zichtbaar op het groot bord.</li>
	  		<li>Om te voorkomen dat onnodige, ongemakkelijke antwoorden op het bord worden getoont, kan u via de checkbox de antwoorden onzichtbaar maken.</li>
	  	</ol>
	  	<br>
	  	<h2>Contact</h2>
	  	<p>Steven Verheyen: stevenverheyen1@gmail.com</p>
	  	<p>Tim Asscherickx: tim.asscherickx@hotmail.com</p>
	  	<p>Jeroen Van Wolput: jeroenvanwolput@gmail.com</p>
	  	{{> SideNavBar}}
  </div>
</template>