


<template name="LoginPage">
	{{#if newRegister}}
        {{> RegisterPage}}
      {{else}}
        
        {{> LoginForm}}
    {{/if}}
</template>


<template name="LoginForm">
	<h1>Login</h1>
	<p>Login met google</p>
	{{> loginButtons}}
	<p>Login met een account</p>
	<p>username: </p> <input type="text" name="InputName">
	<p>Passwoord:</p> <input type="Password" name="InputPassword"> <br>
	<button id="LoginBtn" type="button">Login</button>
	<p>Nog niet geregistreerd?</p>
	<button id="RegisterBtn" type="button">Registreer</button>
</template>