<template name="MainPageVragen">

<div id="PageContent">

  <script type="text/javascript">
    //tijdelijkLesId = Session.get('tijdelijkIdSession');
    tijdelijkLesId = $.cookie('tijdelijkIdSession');
    Meteor.subscribe('DataVragen', tijdelijkLesId);
    //tijdelijkeRoomCode = Session.get('getRoomCode');
    tijdelijkeRoomCode = $.cookie('getRoomCode');
    Meteor.subscribe('DataAanwezigen', tijdelijkeRoomCode);
    Meteor.subscribe('DataAntwoorden');

  </script>


  <div id="aanwezigen">
      <table>
        <style>
          table {
            margin-top: 10px;
            margin-right: 10px;
            border-collapse: collapse;
            width: 20%;
            float: right;
            overflow: auto;
            width: 15%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        </style>
      
       <tr> 
          <th>Naam</th> 
          <th>Status</th>
        </tr>
        {{#each aanwezigheid}}
        <tr>
          <td>{{naam}}</td> 
          <td>  <div class="text-center" ><img src="http://localhost:3000/online.png" width="15%"></div></td>
        </tr>
        {{/each}}
      </table>
      
  </div>
    <div class="container floatNrLinks">

  <h1>Overzicht van alle vragen</h1>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-success btn-lg " id="showVragenBord">Bord zichtbaar maken</button>
    <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal" id="voegVraagToe">Voeg vraag toe</button>      
    <button type="button" class="btn btn-info btn-lg" id="showAlleAntwoorden">Bekijk alle antwoorden</button>
      
      
      <br>
     
    <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Nieuwe vraag aanmaken</h4>
            </div>
            <div class="modal-body">
            {{#if nieuweVraag}}
              <p>Titel: <input id="TitelVraag" type="text" >
              <button  id="addVraag" type="button" class="btn btn-default">aanmaken</button>
              </p>
            {{/if}}
              <p>
              {{#if aangemaakt}}
                  Openvraag: <input name="soortVraag" type="radio" id="Openvraag" value="Openvraag" checked="checked" >                                        
                  Meerkeuzevraag: <input type="radio" name="soortVraag" id="Meerkeuzevraag" value="Meerkeuzevraag" >
              {{/if}}
              </p>
              {{#if showOpenvraag}}
                <div>
                  <p>
                    Studenten zullen met een open antwoord antwoorden.
                  </p>        
                </div>
              {{/if}}
              {{#if showMeerkeuzevraag}}
                <div id="divMPCToevoegen">
                  <p>
                    Typ hier je meerkeuze antwoord en druk op bevestig.
                    <input id="multipleChoiceInput" type="text" > <button type="button" class="btn btn-default" id="AddMPAntwoord">Toevoegen</button>   
                    {{#each MPCAntwoorden}}
                      <br>
                      <span type="text">{{multipleChoice}}</span> <button class="buttonRemoveMultipleChoice" id="{{_id}}" type="button">X</button>
                    {{/each}}         
                  </p>
                </div>
              {{/if}}
            </div>
            <div class="modal-footer">
            
              <button type="button" class="btn btn-default" data-dismiss="modal" id="closeVraag">Close</button>
            </div>
          </div>          
        </div>
      </div> 
      {{> OverzichtVragen}}   
    </div>
    
    {{> SideNavBar}}
    </div>
</template>

<template name="OverzichtVragen">
{{#if VraagVerwijderen}}
    <div class="modal fade" id="myModal1" role="dialog" >
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="tijdelijkeTitel" text=""></h4>
          </div>
          <div class="modal-body">
            <button  id="jaVraag" type="button" class="btn btn-default" data-dismiss="modal">Ja</button>
            <button  id="neeVraag" type="button" class="btn btn-default" data-dismiss="modal">Nee</button>            
          </div>
        </div>          
      </div>
    </div> 
  {{/if}} 

	{{#each historyVraag}}
  <div class="historyVraagDiv">
		<h1>{{vraagnaam}}</h1>
    <div>
        <input type="checkbox" class="checker" id='checkbox{{_id}}' checked = '{{visibleAnswer}}'> Antwoorden zichtbaar op bord<br>
    </div>
    <p><button id="showVraag" class="btn btn-info">Vraag op bord </button> <button type="button" data-toggle="modal" data-target="#myModal1" id="deleteVraag" class=" btn btn-danger">Delete</button> <button  class="editVraag btn btn-warning" id='{{_id}}'>Edit</button></p>

    <div class="divEditSluiten" id='div{{_id}}' style="display: none">
    <button id="soortVraagVeranderen" data-toggle="modal" data-target="#myModal1" class="btn">Verander soort vraag</button>
    <br>
     <!--Meerkeuzevraag: <input type="radio" name="soortVraag{{_id}}" id="MPC{{_id}}" value="Meerkeuzevraag" class="changeMPC" checked=true data-toggle="modal" data-target="#myModal1">
        
      Openvraag: <input name="soortVraag{{_id}}" type="radio" class="changeopen" id="OpenvraagEdit{{_id}}" value="Openvraag" checked={{openVraag}} data-toggle="modal" data-target="#myModal1">   -->                               
      <br>
      <span>Vraag: </span><input type="text" id="input{{_id}}" value="{{vraagnaam}}" class="vraaginput"> 
      <br><br>
      {{#unless openVraag}}
            {{#each multipleChoiceHTML}}
            <span>antwoord: </span><input type="text" id="input{{_id}}" value="{{multipleChoice}}" class="MPCinput"> <button class="buttonRemoveMultipleChoice" id="{{_id}}" type="button">X</button>
            <br><br>
          {{/each}}
          <input type="text" id="extraMultipleChoiceAanmaken{{_id}}" ><button class="buttonAddMultipleChoice" id="{{_id}}" type="button">Add</button>
      {{/unless}}
    </div>
    </div>
  {{/each}}   

</template>



