
<template name="MainPageLes">
  <script type="text/javascript">
    //################## Om te abonneren op de lessen data #####################
    Meteor.subscribe('DataLessen');
  </script>


  <h1>Overzicht van alle lessen</h1>
  <div class="container">
  <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Voeg les toe</button>

  <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Nieuwe les aanmaken</h4>
          </div>
          <div class="modal-body">
            <p>Titel: <input id="TitelLes" type="text" ><button  id="addLes" type="button" class="btn btn-default">aanmaken</button>
            </p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
  
  </div>
</template>


<template name="OverzichtLessen">
  <div class="row">
    {{#each historyLes}}
    <div class="col-sm-3" id="lessen"> 
	     <h1 id='h1{{lesnaam}}'>{{lesnaam}}</h1> <div id='div{{_id}}' style="display:none"><input type="text" id='input{{_id}}'><button type="button" id='saveLessen'>Save</button></div>
       <button id="editLes" type="button">Edit</button><button id="deleteLes" type="button">Delete</button>
    </div>
	 {{/each}}
  </div>
</template>


       	  

