
<template name="MainPageLes" >
<div id="PageContent">

  <script type="text/javascript">
    //################## Om te abonneren op de lessen data #####################
    Meteor.subscribe('DataLessen');
  </script>


  <h1>Overzicht van alle lessen</h1>
  <div class="container">
  <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Voeg les toe</button>

  <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Nieuwe les aanmaken</h4>
          </div>
          <div class="modal-body">
            <p>Titel: <input id="TitelLes" type="text" ><button  id="addLes" type="button" class="btn btn-default">aanmaken</button>
            </p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
  
  </div>
  {{> OverzichtLessen}}
  {{> SideNavBar}}
  </div>
</template>


<template name="OverzichtLessen" >
{{#if LesVerwijderen}}
    <div class="modal fade" id="myModal2" role="dialog" >
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="tijdelijkeTitelLes" text=""></h4>
          </div>
          <div class="modal-body">
            <button  id="jaLes" type="button" class="btn btn-default" data-dismiss="modal">Ja</button>
            <button  id="neeLes" type="button" class="btn btn-default" data-dismiss="modal">Nee</button>            
          </div>
        </div>          
      </div>
    </div> 
  {{/if}}
  <div class="row" >
    {{#each historyLes}}
    <div class="col-sm-3" id="lessen"> 
	    <h1 id='h1{{_id}}'>{{lesnaam}}</h1> 
      <div id='div{{_id}}' style="display:none">
        <input type="text" id='input{{_id}}' class='input inputFieldRoom' value="{{lesnaam}}">
        <button id="saveLes" class="btn btn-default">Save</button>
      </div>
      <img id="deleteLes" src="../../SystemDelete.ico" class="deleteIcon" alt="delete" data-toggle="modal" data-target="#myModal2"><img src="../../settings-icon-16.png" alt="settings" id="editLes" class="editIcon">
    </div>
	 {{/each}}
  </div>

</template>


       	  

