  <template name="MainPage">  	
  

  <div id="PageContent">


    	{{#if currentUser}}


        {{#if verify}}

       
          {{#if showVraag}}
            {{> MainPageVragen}}
            {{> OverzichtVragen}}
          {{else}}   
            {{> MainPageLes}}
            {{> OverzichtLessen}}
          {{/if}}
          {{> SideNavBar}}

          {{else}}

            <p class="alert alert-warning">You need to verify your email address. <a href="#" class="resend-verification-link">Resend verification link</a>.</p>
          
        {{/if}}

      {{else}}
        {{> LoginForm}}
      {{/if}}
    </div>


  	
  </template>



