<template name="MainPageVragen">

  <script type="text/javascript">
    Meteor.subscribe('DataVragen');
    Meteor.subscribe('DataMultipleChoice');
    Meteor.subscribe('DataAanwezigen', "ITJn38");

  </script>
  <h1>Overzicht van alle vragen</h1>
  <div id="aanwezigen">
    {{#each aanwezigheid}}
      {{naam}}
      <br>
     {{/each}}
  </div>
    <div class="container">
    <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id="voegVraagToe">Voeg vraag toe</button>
      <button id="showVragenBord">Show Vragen</button>

    <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Nieuwe vraag aanmaken</h4>
            </div>
            <div class="modal-body">
            {{#if nieuweVraag}}
              <p>Titel: <input id="TitelVraag" type="text" >
              <button  id="addVraag" type="button" class="btn btn-default">aanmaken</button>
              </p>
            {{/if}}
              <p>
              {{#if aangemaakt}}
                Openvraag: <input name="soortVraag" type="radio" id="Openvraag" value="Openvraag">                                        
                Meerkeuzevraag: <input type="radio" name="soortVraag" id="Meerkeuzevraag" value="Meerkeuzevraag">
              {{/if}}
              </p>
              {{#if showOpenvraag}}
                <div>
                  <p>
                    Studenten zullen met een open antwoord antwoorden.
                  </p>
                  <button type="button" class="btn btn-default" id="bevestigOpenVraag">Bevestig</button>          
                </div>
              {{/if}}
              {{#if showMeerkeuzevraag}}
                <div>
                  <p>
                    Typ hier je meerkeuze antwoord en druk op bevestig.
                    <input id="multipleChoiceInput" type="text" > <button type="button" class="btn btn-default" id="bevestigMultipleChoice">Bevestig</button>            
                  </p>
                </div>
              {{/if}}
            </div>
            <div class="modal-footer">
            
              <button type="button" class="btn btn-default" data-dismiss="modal" id="closeVraag">Close</button>
            </div>
          </div>          
        </div>
      </div>    
    </div>
</template>

<template name="OverzichtVragen">
	{{#each historyVraag}}
		<h1>{{vraagnaam}}</h1>
    <p><button class="editVraag" id={{_id}}>Edit</button><button  id="deleteVraag">Delete</button><button id="showVraag">Show</button><button>Check</button> </p>
    <div class="divEditSluiten" id='div{{_id}}' style="display: none">
      <input type="text" id="input{{_id}}" value="{{vraagnaam}}">
      <br><br>
      {{#each multipleChoiceHTML}}
        <input type="text" id="input{{_id}}" value="{{multipleChoice}}"> <button class="buttonRemoveMultipleChoice" id="{{_id}}" type="button">X</button>
        <br><br>
      {{/each}}
      <input type="text" id="extraMultipleChoiceAanmaken{{_id}}">
      <button id="saveMultipleChoice" type="button">Save</button>
    </div>
    <!--<div id="div{{_id}}">
    </div>-->
  {{/each}}   
</template>
