  <template name="MainPage">  	
  

  <div id="PageContent">



        {{#if verify}}

       
          {{#if showVraag}}
            {{#if AlleAntwoorden}}
              {{> AntwoordenPage}}
            {{else}}
              {{> MainPageVragen}}
              <!--{{> OverzichtVragen}}-->
            {{/if}}
          {{else}}   
            {{> MainPageLes}}
            <!--{{> OverzichtLessen}}-->
          {{/if}}
          {{> SideNavBar}}

          {{else}}

            
          
        {{/if}}


    </div>


  	
  </template>

<template name="verifyMail">
<p class="alert alert-warning">You need to verify your email address. <a href="#" class="resend-verification-link">Resend verification link</a>. Or <a href="#" class="logoutLink">logout</a></p>


 </template>
