  <template name="MainPage">  	
  

  <div id="PageContent">


    	{{#if currentUser}}

      

        {{#if verify}}

       
          {{#if showVraag}}
            {{> roomCode}}
            {{> MainPageVragen}}
            {{> OverzichtVragen}}
          {{else}}
            {{#if showVraagOpBord}}
              {{> roomCode}}
              {{> VraagOpBord}}
            {{else}}
              {{> MainPageLes}}
              {{> OverzichtLessen}}
            {{/if}}
          {{/if}}
          {{> SideNavBar}}

          {{else}}

            <p class="alert alert-warning">You need to verify your email address. <a href="#" class="resend-verification-link">Resend verification link</a>.</p>
          
        {{/if}}

      {{else}}
        {{> LoginForm}}
      {{/if}}
    </div>


  	
  </template>



