

<template name="SideNavBar">

	<div id="SideNavbar">
		<ul>
			
			<li id="NavLessen"> <p>Lessen<img src="http://localhost:3000/open-book-icon-3.png" alt="lessen"> </p></li>
			<li> <p>Info <img src="http://localhost:3000/info_icon.png" alt="Info"> </p></li>
			<li > <p>Settings <img src="http://localhost:3000/settings-icon-16.png" alt="settings"> </p></li>
			
			<li id="NavLogout"> <p>Logout <img src="http://localhost:3000/logout.png" alt="logout"> </p></li>
		</ul>
	</div>







</template>