<template name="SettingsPage">
{{#if UserVerwijderen}}
    <div class="modal fade" id="myModal2" role="dialog" >
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="tijdelijkeTitel" text=""></h4>
          </div>
          <div class="modal-body">
            <button  id="jaVraag" type="button" class="btn btn-default" data-dismiss="modal">Ja</button>
            <button  id="neeVraag" type="button" class="btn btn-default" data-dismiss="modal">Nee</button>            
          </div>
        </div>          
      </div>
    </div> 
  {{/if}} 


<div id="PageContent">


<div class="dorpdowndiv">
<h2>Verander Naam  </h2>
	<div id="dropdowndiv1" style="display: none;" >
		<p>Naam: <input type="text" id="NaamInputSettings" ></p>
		<p>Achternaam: <input type="text" id="AchternaamInputSettings" ></p>
		<button id="SaveSettings" class="btn">Save</button>
	</div>
	<img src="../../arrowdown.png" alt="dropdown" id="dropdownimg1">
</div>

<div class="dorpdowndiv">
<h2>Verander Mail </h2>
	<div id="dropdowndiv2" style="display: none;" >
		<p>mail: <input type="text" id="MailInputSettings"></p> 
		<button id="MailSettings" class="btn">Verander Mail</button>
	</div>
	<img src="../../arrowdown.png" alt="dropdown" id="dropdownimg2">
</div>

<div class="dorpdowndiv">
<h2>Verander wachtwoord </h2>
	<div id="dropdowndiv3" style="display: none;" >
		<p>New wachtwoord: <input type="password" id="PassInputSettings"></p> 
		<p>Hertyp New wachtwoord: <input type="password" id="PassInputSettings2"></p> 
		<button id="PassSettings" class="btn">Verander wachtwoord</button>
		<br>
	</div>
	<img src="../../arrowdown.png" alt="dropdown" id="dropdownimg3">
</div>

<button class="btn btn-danger" id="RemoveUser" data-toggle="modal" data-target="#myModal2">Verwijder Account</button>

 {{> SideNavBar}}
</div>
<script type="text/javascript">
var userinfo;
	Meteor.call('getinfo',Meteor.userId(), function(error, res){
            if (error)
                return alert(error.reason);
            if (res.length > 0 ) {
            	userinfo = res;
            	console.log(userinfo[0].emails[0].address);
            	$("#NaamInputSettings").val(userinfo[0].profile.naam);
            	$("#AchternaamInputSettings").val(userinfo[0].profile.achternaam);
            	$("#MailInputSettings").val(userinfo[0].emails[0].address);
            }
            });
</script>

</template>
