<template name="SettingsPage">


<div id="PageContent">


<div class="dorpdowndiv">
<h2>Verander Naam  </h2>
	<div id="dropdowndiv1" style="display: none;" >
		<p>Naam: <input type="text" id="NaamInputSettings"></p>
		<p>Achternaam: <input type="text" id="AchternaamInputSettings"></p>
		<button id="SaveSettings">Save</button>
	</div>
	<img src="http://localhost:3000/arrowdown.png" alt="dropdown" id="dropdownimg1">
</div>

<div class="dorpdowndiv">
<h2>Verander Mail </h2>
	<div id="dropdowndiv2" style="display: none;" >
		<p>mail: <input type="text" id="MailInputSettings"></p> 
		<button id="MailSettings">Verander Mail</button>
	</div>
	<img src="http://localhost:3000/arrowdown.png" alt="dropdown" id="dropdownimg2">
</div>

<div class="dorpdowndiv">
<h2>Verander Paswoord </h2>
	<div id="dropdowndiv3" style="display: none;" >
		<p>New Password: <input type="password" id="PassInputSettings"></p> 
		<p>Hertyp New Password: <input type="password" id="PassInputSettings2"></p> 
		<button id="PassSettings">Verander passwoord</button>
		<br>
	</div>
	<img src="http://localhost:3000/arrowdown.png" alt="dropdown" id="dropdownimg3">
</div>

<button id="RemoveUser">Verwijder Account</button>

 {{> SideNavBar}}
</div>

</template>
