<template name="StudentenPagina">
  <h1 id="LesnaamH1"></h1> 
  	<div id="NaamInputDiv">
  		<p>Enter name</p>
  		<input type="text" id="naamInput">
  		<button id="enterName">Enter</button>
  	</div>  
  	<div id="AntwoordInputDiv"> 
      <div id="theMultipleChoices">                
      </div>
      {{#if openAntwoord}}
  		  <h2>Antwoord: <input type="text" id= "antwoordField"></h2>
        <button id="submitAntwoordOpen">Submit</button>
      {{else}}   
        {{#each oneMultipleChoice}}
          <input type="radio" name='multipleChoices' value={{multipleChoice}}> {{multipleChoice}} <br>
        {{/each}}
        <button id="submitAntwoordMPC">Submit</button>
      {{/if}}
  		
	  </div>
    <script type="text/javascript">


    var Lesinfo;
    //************************** Dubbel check of de roomcode klopt *************************
      var roomCode = window.location.hash.substr(1);
      Meteor.call('getRoomcode', roomCode ,function(err, response) {
        if(err) {
          alert(err);
          Lesinfo = false;
          return;
        }
        Lesinfo = response;
        if (!Lesinfo) {
          window.location= "http://localhost:3000"
        }
        $('#LesnaamH1').text(Lesinfo.lesnaam);
        Meteor.subscribe('DataMultipleChoice');
        Meteor.subscribe('DataLessenPopup',roomCode );
        Meteor.subscribe('DataVragen', Lesinfo.lesID);
        
      });
    </script>

  	
</template>