<template name="StudentenPagina">
  <div id="divNaam">
    <h1 id="LesnaamH1"> </h1> 
    	<div id="NaamInputDiv">
    		<p>Enter name</p>
    		<input type="text" id="naamInput">
        <br>
    		<button id="enterName" type="button" class="btn btn-info btn-lg">Enter</button>
    	</div>  
    </div>
  	<div id="AntwoordInputDiv"> 
       <h2 id="vraagH2"></h2>
        {{#if openAntwoord}}
       
    		  <h2>Antwoord: <input type="text" id= "antwoordField"></h2>
          <button id="submitAntwoordOpen" style="display: none;" class="SubmitButton btn btn-info btn-lg">Submit</button>
        {{else}}
        <div id="antwoordenCenter" style="display: inline-block; text-align: left">
          {{#each oneMultipleChoice}}
            <input type="radio" name='multipleChoices' value={{multipleChoice}}> {{multipleChoice}} <br>
          {{/each}}
        </div>
          <br>
          <button id="submitAntwoordMPC" style="display: none;" class="SubmitButton btn btn-info btn-lg">Submit</button>
        {{/if}}
  		
	  </div>
    <script type="text/javascript">


    var Lesinfo;
    //************************** Dubbel check of de roomcode klopt *************************
      var roomCode = window.location.hash.substr(1);
      Meteor.call('getRoomcode', roomCode ,function(err, response) {
        if(err) {
          alert(err);
          Lesinfo = false;
          return;
        }
        Lesinfo = response;
        if (!Lesinfo) {
          window.location= "http://localhost:3000"
        }
        $('#LesnaamH1').text(Lesinfo.lesnaam);
        Meteor.subscribe('DataMultipleChoice');
        Meteor.subscribe('DataLessenPopup',roomCode );
        Meteor.subscribe('DataVragen', Lesinfo.lesID);

        
      });
    </script>

  	
</template>