<template name="StudentenPagina">
  	<h2>Vul hier de roomcode in <input type="text" id= "roomCodeField"></h2>
  	<button id="enterRoom">Enter</button>



  	<a href="/leerkracht">leerkracht page</a>


  	<div id="NaamInputDiv">
  		<p>Enter name</p>
  		<input type="text" id="NaamInput">
  		<button id="enterName">Enter</button>

  	</div>

  	<div>
		<h1>hier moet de vraag zichtbaar worden</h1>
		<h2>Antwoord: <input type="text" id= "antwoordField"></h2>
		<button id="submitAntwoord">Submit</button>
	</div>

  	
</template>