<template name="vraagOpBord">
	<h2 id="RoomCodeVisible">roomcode : {{Roomcode}}</h2>
  	
  	<h1>Vraag: {{vraagnaam}}</h1>
	<div class="antwoordenBox">		
			<div class="antwoordOpBord">
				{{#if openVraag}}
					{{#each antwoordOpBord}}
						<div class="jumpingAnswers">
							{{antwoordStyling}}
				  			<h1>{{Antwoord}}</h1>

			  			</div>
			  		{{/each}}
			  	{{else}}
			  		<div><div class="ct-chart ct-perfect-fourth ct-label">
				  			<p class="graphAnswers">
				  				{{editGraph}}
				  					  				
				  			</p>
	  					
					  		{{showGraph}} 	 
					  	</div>
			  		</div>
	  			{{/if}}
	  		</div>
	</div>

</template>
