<template name="vraagOpBord">
	<h2 id="RoomCodeVisible">roomcode : {{Roomcode}}</h2>
  	
  	<h1>Vraag: {{vraagnaam}}</h1>
	<div class="antwoordenBox">		
			<div class="antwoordOpBord">
				{{#if openVraag}}
					{{#each antwoordOpBord}}
						<div class="jumpingAnswers">
							{{antwoordStyling}}
				  			<h1>{{Antwoord}}</h1>

			  			</div>
			  		{{/each}}
			  	{{else}}
			  		{{#each editGraph}}
			  			<div>
			  				<p>{{multipleChoice}}  : {{timesChosen}}</p>
			  			</div>
			  		{{/each}}
	  			{{/if}}
	  		</div>
	</div>

</template>
